<div>
  <div lang="en">
    <h2>English</h2>


  <h1 id="abouttitle">About our project</h1>

  <p id="groupintro">
    Our group was formed in the Digital Humanities course, and our groupname is CCR. Our group members are Chloe, Constanza and Rocío. Two of us are located in Argentina while Chloe is located in the USA. On this website we each have biographies located under the biography tab. We also have made a charter explaining the goal of our project, the rules within the group and how we will be communicating. So far we have learned about multilingualism, how to use VS Code, about the World Wide Web, the importance of engaged research and other minimal computing tools which will be useful for us to reach our goal, which is to use digital resources and the humanities to create a website. 
    
  </p>
  <div lang="es">
  <h2>Español</h2>
  <h1 id="acerca">Acerca de nuestro proyecto</h1>
  <p>Nuestro grupo se formó durante el curso de Humanidades Digitales, y nuestro nombre es CCR. Los miembros de nuestro grupo son Chloe, Constanza y Rocío. Las últimas dos nos encontramos localizadas en Argentina, mientras que Chloe se encuentra en USA.En esta página web, cada una de nosotras tiene biografías que se pueden encontrar en la sección así llamada. Además, hicimos un charter para dar una explicación sobre el objetivo de nuestro proyecto, las reglas del grupo y la manera en que nos comunicamos. Hasta ahora aprendimos sobre multilenguaje, el funcionamiento de VS cODE, acerca de la World Wide Web, la importancia de las relaciones entre diferentes disciplinas durante una investigación y otras herraminetas de minimal computing que serán útiles a la hora de alcanzar nuestro objetivo, el cual es usar recursos digitales junto con las humanidades para crear una página web.</p>
</div>
<p>
  <a href="https://raffazizzi.gitlab.io/ccr-project/">Home</a>
</p>

</div>