
<div>
<h1 id="chartertitle">

Charter/Contrato de equipo

</h1>

   <section class="groupinfo">
<p id="lastupdated">Last updated / Última actualización: 2021-09-28</p>
<p id="groupname">Group name / Nombre del Equipo: CCR (Chloe, Constanza, Rocío)</p>
<p id="roles">Roles / Roles</p>
<p id="techleader">Technical leader / Líder técnicx : Rocío Lengnick (estará a cargo del repositorio de GitLab del equipo)</p>
<p id="submitter">Submitter / Encargadx de envíos: Chloe Johnson (submits group assignments to ELMS)</p>
<p id="members">Team Members / Integrantes del equipo</p>

<article class="members">
<li id="rocio"> Rocío Lengnick, she/her/ella, ARG, Technical Leader</p>

<li id="constanza"> Constanza Agustina Oglietti, she/her/ella, ARG</p>

<li id="chloe"> Chloe Johnson, SHE/HER/HERS y ELLA. Team role: Submitter (submits group assignments to ELMS)</p>
</article>
</section>

<p><h2 id="goals">Goals / Objetivos</h2></p>
<div lang="en">
    <h3>English</h3>
<p id="engoals">As a team, we hope to ensure good communication in order to understand each other better and complete all the activities in the best way possible. This will allow us to finish this course successfully. At the end of this course, we hope to create the website and be satisfied with the result. We also expect to have learned about digital text editing, which is our main goal. In addition to this, we hope to develop our abilities and patience working as a group and exchanging ideas from our different cultures, taking advantage of multiculturalism. Slowly, we hope to absorb the knowledge and put it into practice, giving the best of ourselves and working together as a team to achieve our goals. With the aim of keeping track of this process and making sure all the activities are completed, we plan on dividing our tasks and sharing them with each other later on to make the best version of them. One last goal that we wish to achieve, unrelated to technology, is to learn the similarities and differences of how the work is done in our different cultures and learn from them.</p></div>
<div lang="es">
    <h3>Español</h3>
<p id="esgoals">Como equipo, principalmente esperamos poder lograr una buena comunicación para entendernos entre nosotras y poder realizar de la mejor manera todas las actividades, así podremos finalizar el curso con éxito. Al final del mismo, esperamos poder haber logrado hacer la página web, estar satisfechas con nuestro resultado y también haber aprendido sobre la edición de textos digitales, lo cual sería nuestro objetivo principal.  Además, esperamos desarrollar nuestras habilidades y nuestra paciencia trabajando en equipo e intercambiar ideas entre nuestras diferentes culturas, aprovechando al máximo el multiculturalismo. Lentamente, esperamos ir absorbiendo los conocimientos y poniéndolos en práctica dando lo mejor de cada una individualmente y trabajando en equipo para poder llevar a cabo nuestra edición. Posiblemente, con el fin de ir haciendo un seguimiento del proceso y para asegurarnos de que todas las actividades sean completadas, dividamos nuestras tareas y más adelante las pongamos en común para lograr la mejor versión de estas. Un último objetivo que quisiéramos lograr, quizás no tan relacionado con la tecnología en sí, sería aprender sobre cómo se realiza el trabajo en cada una de nuestras culturas y observar tanto nuestras diferencias como las cosas en común y aprender de aquello.</p></div>

<p><h2 id="values">Core Values / Fundamentos</h2></p>
<div lang="en">
    <h3>English</h3>
<p id="envalues">Regarding our expectations, we will do our best so that the result is adequate. We will communicate often during the week to check the progress on our activities and solve any possible issues. We will prioritize being up to date with everything and we will help each other if anyone finds their task slightly difficult. Luckily, there is not a huge difference between our time zones so we will use “Whatsapp” to answer questions and work together. Regarding language, we will be talking both in English and Spanish so that everybody can understand easier. We also plan to translate or reformulate anytime necessary.</p></div>


<div lang="es">
    <h3>Español</h3>
<p id="esvalues">En cuanto a nuestras expectativas, esperamos que cada una de lo mejor de sí para que el resultado sea el mejor posible. Posiblemente nos comuniquemos seguido en la semana para verificar los avances en las actividades o resolver dudas. Esperamos poder mantenernos al día con todas las actividades y ayudarnos en caso de que a alguna le resulte difícil algún punto en particular. Por suerte, no hay una gran diferencia de horario entre los dos países, por lo que si alguien necesita hablar del trabajo por alguna cuestión, vamos a comunicarnos por WhatsApp y preguntar si las demás están libres o pueden ayudar a resolver el problema. Con respecto a los idiomas, usaremos tanto el inglés como el español para que todas podamos entender, tratando de traducir y reformular así se vuelve más comprensible.</p></div>

<p><h2 id="management">Team management / Gestión del equipo</h2></p>
<div lang="en">
    <h3>English</h3>
<p id="enmanagement">To coordinate activities we will share our ideas in group so that everybody can explain theirs to the others and make a good decision. We will be sure to always stay respectful of everyone. For communication, we will be using “WhatsApp” as well as Slack or our Google Doc we are working on. If necessary, we may need to meet virtually to work on an activity at least once a week. When making a decision, each of us will vote for the idea that we think is best. If there is a disagreement we will solve it in the same way- trying to find a way in which everyone is satisfied. All of us will have specific roles to facilitate work and to participate equally without leaving all the work to one person. In addition, we will be sure to support each other in every activity.</p></div>

<div lang="es">
    <h3>Español</h3>
<p id="esmanagement">Para coordinar las actividades esperamos poder realizar puestas en común para que cada una pueda exponer sus ideas y tomar una decisión en equipo, respetando el pensamiento de todas las partes. Para comunicarnos, seguramente usemos nuestro grupo de WhatsApp, como así también Slack o directamente en los archivos de Google en los que estemos trabajando. En caso de ser necesario, tal vez decidamos reunirnos virtualmente para realizar la actividad siguiente al menos una vez a la semana. En cuanto a la toma de decisiones, seguramente cada una votará cuál le parece la mejor idea, si es que hay diferencias entre nosotras y aplicaremos la que le parezca más adecuada a la mayoría. Si sucede un conflicto, lo estaremos resolviendo de la misma forma y buscaremos la manera de que todas estemos más o menos conformes con la decisión. Cada una de nosotras tendremos roles específicos para facilitar el trabajo y para que todas podamos participar de la misma manera, sin dejarle todo el trabajo a una sola persona y también para apoyar al resto en cada actividad.</p></div>

<p><h2 id="ethos">Ethos /Ethos</h2></p>
<div lang="en">
    <h3>English</h3>
    <ol>
<li>Work in the best way possible</li>
<li>Make group decisions together</li>
<li>Help each other</li>
</ol>
</div>
<div lang="es">
    <h3>Español</h3>
    <ol>
<li>Trabajar de la mejor manera posible</li>
<li>Tomar decisiones en grupo</li>
<li>Ayudarnos entre todas</li>
</ol>


</div>
<a href="https://raffazizzi.gitlab.io/ccr-project/">Home</a>



