<div lang="en">
    
<h1 id="chloebio">Chloe's Biography</h1>
<h2>English</h2>


<p id="chloeen">My name is Chloe Johnson. I was born and raised in Maryland and now am attending the University of Maryland. I am in my third year of college right now. I have previously gone to my community college and gotten my Associates degree in business administration. I am now working towards getting my bachelors degree in Information Science. I don't know what the future holds for me but I hope to be a part of a business oneday. I'm not sure exactly what I want to do but I know that I want to do something I enjoy and I don't mind taking time to figure that out. An interesting fact about myself is that I am really interested in sign language. It is like my hobby that I love to practice on the side. Maybe I could incorporate my love for sign language in a future job!
</div>
<div lang="es">
    <h2>Español</h2>
</p>
<p>Mi nombre es Chloe Johnson. Nací y crecí en Maryland y ahora asisto a la Universidad de Maryland. Ahora estoy en mi tercer año. Previamente fui a mi colegio comunitario y obtuve mi "Associates degree" en administración de negocios. En este momento estoy trabajando para lograr mi "bachelors degree" en "Information Science". No sé lo que me espera en el futuro pero espero ser parte de los negocios algún día. No estoy segura de lo que quiero hacer exactamente pero sé que queiro hacer algo que disfrute y no me preocupa tomarme mi tiempo para descubrir eso. Un dato interesante acerca de mí es que me interesa mucho el lenguaje de señas. Es como un hobby que me gusta practicar aparte del resto. ¡Quizás pueda incorporar mi gusto por el lenguaje de señas en algún futuro trabajo!</p>
</div>

<img src="IMG_6152-2.jpg" width="560" height="400" alt="This is a photo of me in Downtown Frederick, close to my hometown"/>
<p>
<a href="https://raffazizzi.gitlab.io/ccr-project/Roc%C3%ADo%20bio">Rocío bio</a>
</p>