<div>

  <h1>Our Edition</h1>

  <p id="principles">Editorial Principles</p>

  <ol>
  <li>We decided to divide the paragraphs of both editions exactly the same as they were on the original documents.</li>
    <li>We marked both titles as "head". </li>
    <li>Line beginnings are not marked in every first word of a line but only in the ones that started a paragraph.</li>
    <li>We also decided to mark places, countries and people as "name" and we gave them their attribute. We used the attribute "placeGeog" for mountains and other geographical places. </li>
    <li>Some words were originally written in a way that would be different nowadays. For those words we made the correction and marked them as "choice - corrig" for the original word and "reg" for the correction.</li>
    <li>Other words were written in an informal way. In those cases we marked them as "choice - sic" and fixed them using "corr". </li>
    <li>In the English version, there were some words in Spanish, which we marked as "foreign", but not in the Spanish version. </li>
    <li>There were also some abbreviations, which we decided to mark with "abbr" and "expan" for the complete word. </li>
  <li>We used "rs" for groups of people. </li>
  <li>We used "fw" for headers at the top of the pages and for catch words at the bottom of each page. </li>
  <li>We also marked page beginnings with "pb" and the number of the page.</li>
  <li>In the Spanish version, we also have references which are linked to their footnote. </li>
  <li>We added gazetteers for places in both editions. </li>
  
  
  </ol>

</div>