<div>

  <h1>Hello World!</h1>

  <p>Welcome to the CCR Project</p>
  <p>The CCR group members are Chloe, Constanza and Rocío.
    This website includes an about page with general information about our group, a charter that explains our goals/objectives, values, our team management and ethos. We also included biographies for each team member.</p>
<img src="0116-digital-humanities.jpg" width="560" height="400" alt="digital humanities"/>
</div>