<div id="biografía">

<h1 id="rociobio"> Rocío Lengnick</h1> 
<h2>Biografía</h2>
<div lang="es">
    <h3>Español</h3>
<p> 
    Mi nombre es Rocío Lengnick, tengo 19 años y soy de Río Grande, Tierra del Fuego, Argentina. Estoy en mi segundo año de  Historia en la USAL y elegí hacer este curso porque me interesaba ver un aspecto más tecnológico que podía unir con mi carrera y que podía aplicar en el futuro. Además, no tengo experiencia en las Humanidades Digitales, por lo que este curso fue una excelente oportunidad para aprender. Por otra parte, mis hobbies incluyen leer, escuchar música y ver películas. </p>
</div>
<div lang="en">
    <h3>English</h3>
    <p id="rocioes">
My name is Rocío Lengnick, I am 19 years old and I live in Río Grande, Tierra del Fuego, Argentina. At the moment I'm on my second year of History at USAL; I decided to participate in this course since I was interested in making a connection between my degree and a more technological aspect that I could apply in a future job. Moreover, I have no experience in Digital Humanities, so this course was the perfect opportunity to learn about it. Lastly, my hobbies include reading, listening to music and watching movies.
    </div>
</p>

<a href="https://raffazizzi.gitlab.io/ccr-project/Chloe%20bio">Chloe bio</a>



    </p>
</div>
