/* Add your styles here! */
tei-div {color: black;
    font-family: Arial, Helvetica, sans-ser;
    display: block;
border:4px solid red;
background-color: wheat;}

tei-head {text-align: center;
font-style: italic;
color: red;}
tei-name {font-style: italic;
font-weight: bold;}
tei-fw{color: red;
padding-top: 1em;
display: block;}
tei-fw[type="catch"]{color: red;}



div{text-align: justify;}
#chartertitle{color:red;}
.groupinfo{font-style: italic;text-align: justify;}
#abouttitle{color:red;}
#groupname{font-style: italic;}
.members{list-style: circle;text-align: justify;}
#goals{color: red;}
#values{color: red;}
#management{color: red;}
#ethos{color: red;}
#acerca{color: red;}
#groupintro{text-align: justify;}
#chloeen{text-align: justify;}
#rocioes{text-align: justify;}
#engoals{text-align: justify;}
#esgoals{text-align: justify;}
#envalues{text-align: justify;}
#esvalues{text-align: justify;}
#enmanagement{text-align: justify;}
#esmanagement{text-align: justify;}
#chloebio{color: red;}
#rociobio{color: red;}

ol{text-align: justify;}
#principles{color: red;
font-size: larger;}
